
!CNF2.5

<<@<%Settings>
Language=English
DateFormat=AU
>>

/**
 * Plugin instructions are the last one setup and processed,
 * by placing the actual result into the plugins tag name.
 */
<<processor<PLUGIN>
    package     : DataProcessorPlugin
    subroutine  : process
    property    : employees
>>

<<employees$$<DATA>
#ID`Full Name`@DOB~
#`Taras Bulba`06/08/1983~
22`Marianne Brunswick`19880101~
>>

<<employees$$<DATA>#`Johnny Von Latecomeclan`30-12-1999>>
<<employees$$<DATA>#`Robert Plant`today>>

<<cat<DATA>
01`test~
02`plat~
>>

/**
 * Example perl library files processing plugin.
 */
tests/DataProcessorPlugin.pm {
    sub process {
        foreach(<>){
            ....
        }
    }
}