!CNF1.2

<<CAT$$<Unspecified>>
<<CAT$$<Inventory>>
<<CAT$$<Stock>>
<<CAT$$<Issue>>

<<COUNTRIES$$<
Australia
USA
UK
GERMANY
FRANCE
>>
<<COUNTRIES$$<
Japan
Greece
>>

<<PATHS$$</usr/lib:/usr/user/lib:/home>>