!CNF2.9

###
# Schema structure for tables and views.
# This will be used to create the SQL statments by the DatabaseCentralPlugin.
# It is simple and early development and mapping will generically be full for the select and insert statments.
# it doesn't cover for now, table relationships or constrains.
###
<<DB_SCHEMA<TREE>
    [table[
        name    = USERS
        property: USERS_DATA
        [cols[
            <@@<ID auto>@@>
            <@@<ID_ADDR not null>@@>
            <@@<name  varchar(60) not null>@@>
            <@@<email varchar(80)>@@>
        ]cols]
    ]table]
    [table[
        name = "ADDRESS_BOOK"
        property:   ADDRESS_BOOK
        [cols[
            <@@<ID auto>@@>
            <@@<address  varchar(360)>@@>
            <@@<state    varchar(5)>@@>
            <@@<city     varchar(20)>@@>
            <@@<postcode varchar(6)>@@>
            <@@<country  varchar(20)>@@>
        ]cols]
    ]table]
    [table[
        name = "HOME_DIR_CONFIG_FILES"
        property:   CONFIG_FILES
        [cols[
            <@@<    ID        auto             >@@>
            <@@<    path      varchar(1024)    >@@>
            <@@<    size      numeric          >@@>
            <@@<    lines     numeric          >@@>
            <@@<    modified  datetime         >@@>
        ]cols]
    ]table]
    [table[
        name = "RSS_FEEDS"
        property:   RSS_FEEDS
        [cols[
            <@@<    ID            auto                   >@@>
            <@@<    name          varchar(32) not null   >@@>
            <@@<    url           varchar(1024) not null >@@>
            <@@<    description   text                   >@@>
            <@@<    last_updated  datetime               >@@>
        ]cols]
    ]table]
>>

<<DB_CENTRAL<PLUGIN>
    DB              = test_db_central
    DB_CREDENTIALS  = admin/admin
    DBI_SQL_SOURCE  = DBI:SQLite:
    package     : DatabaseCentralPlugin
    subroutine  : main
    property    : DB_SCHEMA
>>
## Sample initial data here, if not of importance can be removed.
## Otherwise if updated here in script or if missing in the db, will be reinserted into it again.
## This behaviour is a feature. As the data or tables can be application specific
## and is part of script to data sychronisation after software upgrades.
## It is recommended if have a large set of data, to put this in a separate script data file, and wire that here instead.
<<USERS_DATA<DATA>
ID`email`name`ID_ADDR~
#`sjulia@smiths.fake.com`Julia Smith`01~
#`speter@smiths.fake.com`Peter Smith`01~
>>

<<ADDRESS_BOOK<DATA>
ID`address`state`city`postcode`country~
#`Office Suit 2, Level 3, James Brown St`KM`Funnygrain`12345`Serbia~
>>


##
# We shamelessly reuse same plugin package to nest another subrotine.
# With perl you use actually the same plugin code. Rewired into a new object, all for you by PerlCNF.
# Here we meta mark it HAS_PROCESSING_PRIORITY, as it builds data entries for new table being created.
# For the other plugin instruction, that creates tables and populates them if missing in the database.
##
<<  CONFIG_FILES  <PLUGIN>    ___HAS_PROCESSING_PRIORITY___
    package     : DatabaseCentralPlugin
    subroutine  : getConfigFiles
    property    : @directories
>>
## List of local directories to search for config files to stat and put into the db.
## Array defined propery like this is placed as an collection obtained method.
## The plugin currently using it, has been programed and expecting it like that.
## This flat config approuch is very useful, in the long run.
## As other application might be using and accessing as well, and we want to avoid props repetition and redundancey.
## Don't we?
##
<<@<@directories>
~/.config
~/.local
~/.vimrc
~/.bashrc
>>

##
#
##
<<PROCESS_RSS_FEEDS<PLUGIN>    ___HAS_PROCESSING_PRIORITY___

    RUN_FEEDS = yes
    CONVERT_TO_CNF_NODES = no
    OUTPUT_TO_CONSOLE = false
    OUTPUT_TO_MD = no
    BENCHMARK = yes
    TZ=Australia/Sydney

    package     : RSSFeedsPlugin
    subroutine  : process
    property    : RSS_FEEDS
>>

<<RSS_FEEDS<DATA>
ID`name`url`description~
#`Perl Weekly`https://perlweekly.com/perlweekly.rss`A free, once a week e-mail round-up of hand-picked news and articles about Perl.
The Perl Weekly ( http://perlweekly.com/ ) is a newsletter including links to blog posts and other news items
 related to the Perl programming language.~

#`The Perl Foundation RSS Feed`https://news.perlfoundation.org/rss.xml`The Perl Foundation is dedicated to the advancement
of the Perl programming language through open discussion, collaboration, design, and code.
 The Perl Foundation is a non-profit organization* based in Holland, Michigan~

 #`CPAN`http://search.cpan.org/uploads.rdf`CPAN modules news and agenda.~
>>