!CNF2.9
<<@<%Settings<
Language    = 'English'
DateFormat  = 'AU'
>>>
###
# Schema structure for tables and views. 
# This will be used to create the SQL statments by the DatabaseCentralPlugin.
# It is early development and mapping will generically be full for select and insert statments.
###
<<DB_SCHEMA<TREE>
    [table[
        name    = USERS
        property: USERS_DATA
        [cols[
            ID: auto
            ID_ADDR :one-to-one ADDRESS_BOOK.ID
            name    :varchar(60)
            email   :varchar(80            )
        ]cols]
    ]table]
    [table[
        name = "ADDRESS_BOOK"
        property:   ADDRESS_BOOK
        [cols[
            ID: auto            
            address     :varchar(360)
            state       :varchar(5)
            city        :varchar(20)
            postcode    :varchar(6)
            country     :varchar(20)
        ]cols]
    ]table]
>>

<<DB_CENTRAL<PLUGIN>
    DB = "test_db_central"
    DBI_SQL_SOURCE = "DBI:SQLite:"    
    package     : DatabaseCentralPlugin   
    subroutine  : main 
    property    : DB_SCHEMA
>>

## Sample initial data here, if not of importance can be removed.
## Otherwise if updated here in script or if missing in the db, will be reinserted into it again.
## This behaviour is a feature. As the data or tables can be application specific 
## and is part of script to data sychronisation after software upgrades.

<<USERS_DATA<DATA>
ID`name`email`ID_ADDR~
$$`Julia Smith`sjulia@smiths.fake.com`01.ADDRESS_BOOK~
$$`Peter Smith`speter@smiths.fake.com`01.ADDRESS_BOOK~
>>

<<ADDRESS_BOOK<DATA>
ID`adress`state`city`postcode`country~
$$`Office Suit 2, Level 3, James Brown St`Funnygrain`12345`Serbia~
>>
