!CNF2.8

<<table$$  <RANGE>1..28:n*2>>
<< table$$ <RANGE>1..28:n*2+1*n>>


<<processor <PLUGIN>
    package     : ExtensionSamplePlugin
    subroutine  : process
    property    : table
>>

<<@<@anon<CONST>

 some value here
 >>>

 <<@<@Array<1,2,3,4,5>>>

 <<<CONST
$SOME_CONSTANCE='is set!'>>>