 
<<test1 <VAR>
    attr:value
    a= "a"
    b:"22"
	[val[ test me ]val]
    [#[ test sxdd ]#]
	<a< some prop fsfdsf fs >a>
	<#< check 123 >#>
	<*< variable   >*>
	[*[ variable ]*]
>>
###
# Comments here!
###
<<$var<some value>>>

<<<$anon
$aa1="a b c"
some value
>>>

<<<annon2 value
>>>

<<<annon3 value 2>>>


<<<const
a:"b"
>>>

<<%<%Hsh<
    a=1
    b=2
    c=3	
	<tag>mag<rag>
>>>
<<@<@Array<1,2,3,4,5>>>

<<ccc <CONST> 
a:"b"
>>

<<<CONST 
test:"val"
>>>

		        {					
					"match": "([<>]+)",
					"captures": {						
						"1":{
							"name": "support.type"
						}
						
					}							
				}



			
				{					
					"match": "([@%$]|[\\.\/\\w]+)\\s*([ <>]+)(\\w*>)(.*)(>*)|(CONST|VARIABLE|VAR|DATA|FILE|TABLE=>1|TREE|INDEX|VIEW|SQL|MIGRATE|DO|PLUGIN|MACRO|INSTRUCTOR|%LOG)|([@%$]|([\\.\/\\w]+)\\s*)",
					"captures": {						
						"1":{
							"name": "keyword.control"
						},
						"2":{
							"name":"support.type"					
						},
						"3":{
							"name":"variable"					
						},
						"4":{
							"name":"string"					
						},
						"5":{
							"name":"support.type"					
						},
						"6":{
							"name":"variable"
						},
						"7":{
							"name":"variable"
						}
					}							
				},





				{
					"match": "^\\s*([$\\w_-]+)\\s*([:=])\\s*(([\\\"'_-]*\\b.*)|([\\d.]+))\\\"*\\'*|([\\{\\}])|((\\[#\\[)|(\\]#\\]))",
					"captures": {						
						"1":{"name": "keyword"},
						"2":{"name": "keyword.operator"},
						"3":{"name": "constant.numeric"},
						"4":{"name": "string"},
						"5":{"name": "support.type"},
						"6":{"name": "string"},
						"7":{"name": "string"}
					}
				},
				{					
					"match": "(>>$)",
					"captures": {						
						"1":{
							"name": "support.type"
						}
						
					}							
				}



	{				
		"match": "(\\<\\/*\\w+\\<)|(\\>\\w+\\>)",
		"captures": { 
			"1":{"name": "variable.parameter"},
			"2":{"name": "variable.parameter"}
		}
		
	},				
	{	
		"match": "(\\[\\w+\\[)|(\\]\\w+\\])",
		"captures": { 
			"1":{"name": "variable.parameter"},						
			"2":{"name": "variable.parameter"}
		}
		
	},	