
!CNF2.2
<<<CONST
$APP_NAME=Bitcoin Watch Stats Plot
$APP_VER=     1.0
$RELEASE_VER = 1.0`Current CNF version under test.
>>

<<DBI_SOURCE<DBI:Pg:host=localhost;dbname=lifelog>>>
<<AUTO_LOGIN<lifelog/lifelog>>>
<<CNF_PROCESSING_DATE<DO>my $date = `date +%c`;>>
<<@<@DIM_SET_BITCOIN>1200,480>>
<<@<%HSH_SET_BITCOIN_LINE_PLOT_RANGE<MACRO

title             = 'Current Bitcoin Price State $$$CNF_PROCESSING_DATE$$$'
x_label           = 'Days'
y_label           = 'Price'
y_max_value       = 67000
y_tick_number     = 10
x_all_ticks       = 1
y_all_ticks       = 1
x_label_skip      = 5
line_width        = 2


>>>

Columns max,min,avg are the plot lines, dt is the x period line in last 30 days

<<SEL_BITCOIN_30_DAY_RANGE<SQL>
SELECT 
  concat(date_part('day', dt), '/', date_part('month', dt)),
  max::numeric(10,2), 
  min::numeric(10,2), 
  avg::numeric(10,2) 
FROM public."DAILY_AVG_BITCOIN" 
  WHERE dt >= (now() - '30 days'::interval)::date
ORDER BY dt DESC;
>>


<<SEL_BITCOIN_3_MONTH_RANGE<SQL>
SELECT 
  concat(date_part('day', dt), '/', date_part('month', dt)),
  max::numeric(10,2), 
  min::numeric(10,2), 
  avg::numeric(10,2) 
FROM public."DAILY_AVG_BITCOIN" 
  WHERE dt >= (now() - '3 month'::interval)::date 
ORDER BY dt;
>>

<<BITCOIN<SQL>

CREATE TABLE IF NOT EXISTS public.bitcoin
(
    date timestamp without time zone NOT NULL,
    value integer NOT NULL,
    CONSTRAINT bitcoin_pkey PRIMARY KEY (date)
)

TABLESPACE pg_default;

ALTER TABLE public.bitcoin
    OWNER to lifelog;
>>

<<DAILY_AVG_BITCOIN<VIEW>
 SELECT date(t.date) AS dt,
    max(t.value) AS max,
    min(t.value) AS min,
    avg(t.value) AS avg
   FROM bitcoin t
  GROUP BY (date(t.date));
>>

<<CRON_BITCOIN_SERVICE<SCRIPT<

#!/bin/bash
export XDG_RUNTIME_DIR=/run/user/$(id -u)
export DISPLAY=":0"
export XAUTHORITY="$HOME/.Xauthority"

echo -e $(date +"%D %T") $(basename $0) "Started"

stor=$($HOME/uvar.sh -r BITCOIN_PRICE);
grab=$(curl -s rate.sx./1btc | cut -d. -f1) 
record=0
if [ -z $stor ] || [ $stor -ne $grab ]; then
   $HOME/uvar.sh -n BITCOIN_PRICE -v $grab;
   stor=$grab; record=1;
fi 
grab=$(printf "US $%'.2f", $grab)
/usr/bin/notify-send "BITCON PRICE" "$grab"
if [ $record == 1 ]; then
cd ~/dev/LifeLog
./log.pl -db_src "DBI:Pg:host=localhost;" -database lifelog -sys_table=BITCOIN:VALUE:INTEGER -system -insert "$stor"
cd
fi

echo -e $(date +"%D %T") $(basename $0) "Ended\n"

exit;

>>>
